body{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1A0A0C;
    background-color: #FFE1E5;
    min-height: 100px;
    min-height: 90%;
}
h1{
    font-size: x-large;
}
#navbar{
    background-color: #fc586e;
    justify-content: space-between;
    display: flex;
    padding-left: 25px;
    padding-right: 45px;
    height: 40%;
    text-align: center;
    padding-top: 1%;
}
.picture{
    justify-content: space-between;
    display: flex;
    text-align: center;
}
#container{
    display: flex;
}
.container{
    justify-content: space-between;
    display: flex;
}
#dashboard a{
    line-height: 65px;
    color: #1A0A0C;
    text-decoration: none;
}
hr{
    color: #1A0A0C;
    width: 110%;
    margin: 0 -25px;
    opacity: 20%;
}
.profile{
    background-color: #9b0016;
    margin-top: 4%;
    color:#FFE1E5 ;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
}
/* .subject{
    border-radius: 50%;
    background-color: #E6B3BA;
} */
#dashboard{
    background-color: #FFBBC4;
    padding-left: 2%;
    width: 25%;
    /* padding-right: 2%; */
    border-bottom: solid 2px;
}
#general{
    width: 100%;
    padding: 0 5%;
}
button{
    margin-top: 2%;
    background-color:#9b0016 ;
    margin-left: 92%;
    border-radius: 10px;
    padding: 10px 20px;
    transition: 2s;
    color: #FFE1E5;
}
.profilePics{
    margin-top: 15%;
    margin-bottom: 17%;
    /* padding-right: 1%; */
    /* padding-left: 2%; */
    margin-right: 15px;
}
.table{
    width:330%
}